h1, h2, h3, h4, h5, h6 {
    color: #F5F5F5 !important;
}
.jumbotron {
    background-color: rgba(0, 0, 0, 0.7);
}

.fullscreen {
    position:fixed;
    top:0;
    left:0;
    background: #000000;
    z-index:5;
    width:100%;
    height:100%;
}